body {
    background-color: rgb(17, 29, 87);
    margin-left: 2%;
}

header {
    background-color: rgb(34, 47, 105);
    color: rgb(202, 208, 231);
    letter-spacing: .2em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-variant: small-caps;
    font-weight: bold;
}

p {
    background-color: rgb(40, 56, 126);
    color: rgb(202, 208, 231);
    letter-spacing: .25em;
    font-style: italic;
    margin-top: 0%;
    font-size: .8em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    color: rgb(202, 208, 231);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.inputDiv {
    padding: 2%;
    text-align: center;
    margin-top: 0%;
    background-color: rgb(34, 47, 105);
}


.makeComplete {
    background-color: rgb(34, 47, 105);
    color: rgb(202, 208, 231);
}

header {
    margin-bottom: 0%;
    font-size: 5em;
}

.header {
    text-align: center;
}

.taskList {
    margin-bottom: 0%
}

table, th, td, tr, tbody {
    margin-top: 0%;
    padding: 1.5%;
    width: 90%;
    text-align: left;
}

th {
    background-color: rgb(40, 56, 126);
    font-weight: bold;
    color: rgb(170, 175, 195);
}

tr {
    color: rgb(202, 208, 231);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1em;
}

#viewTasks {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.delete {
    background-color: rgb(189, 73, 44);
    color: rgb(202, 208, 231);
}

.completed {
    background-color: rgb(34, 47, 105);
    color: rgb(202, 208, 231);
}

.notComplete {
    background-color: rgb(154, 164, 206);
    color: rgb(202, 208, 231);
    font-size: 2em;
    color: rgb(9, 14, 39);
}
