body {
    background-color: rgb(213, 233, 213);
    margin-left: 2%;
}

.makeGreen {
    background-color: rgb(89, 128, 89);
    color: rgb(232, 240, 233);
}

header {
    margin-bottom: 0%;
    font-size: 5em;
}

p {
    margin-top: 0%;
}

.header {
    text-align: center;
}

.inputDiv {
    background-color: rgb(174, 204, 174);
    padding: 2%;
    text-align: center;
}

#viewTasks {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

th, td {
    padding: 1.5%;
}

.delete {
    background-color: rgb(172, 97, 97);
    border: white 2px;
}

.completed {
    background-color: rgb(180, 197, 180);
}